rootlb(){
  src="${1}"; shift
  is_the_first_arg=true

  args="("
  for arg in $@;do
    if [ "$is_the_first_arg" = true ] ; then
      is_the_first_arg=false
    else
      args+=", "
    fi
    args+=$arg
  done
  args+=")"

  echo $args
  root -l -b $src"$args"

}

### Example
# rootlb test.C 1 \"2\" 3
# equivalent to root -l -b test.C"(1,"2",3)"
##

